* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.top-banner img {
  width: 100%;
  height: auto;
  display: block;
  max-height: 200px;  /* <- Lavere banner */
  object-fit: cover;
}

.top-banner {
  position: relative; /* gjør at header ligger oppå*/
}

.top-banner header {
  position: absolute;
  bottom: 0;
  left 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;  /* Plasserer h1 til venstre og nav til høyre */
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7); /* eller #222 for fast farge */
  padding: 20px 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
}

.nav-buttons {
  display: flex;
  gap: 15px;
}

.nav-buttons a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  background-color: #444;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.nav-buttons a:hover {
  background-color: #666;
}

/* Main content */
main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: azure;
}

.text {
  width: 50%;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /*plasserer innholdet høyt oppe*/
  align-items: center;/*
  text-align: center; sørger for teksten h2 er sentrert*/
}



.kort-liste {
  background-color: #1a1a1a;
  color: white;
  padding: 2rem;
  border-radius: 12px;
  border: 1px solid beige;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.2);
  transition: transform 0.2s ease;
}

.kort-liste li:hover {
  transform: scale(1.03);
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.4);
}

.text h2 {
  margin-bottom: 60px;
}

.image {
  width: 50%;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

@media (max-width: 768px) {
  main 
    flex-direction: column;
  }

  .text, .image {
    width: 100%;
    padding: 0;
  }

  .text {
    margin-bottom: 20px;
  }
